
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="chartContainer" style="height: 400px; width: 75%; float: right;"></div>
<div ng-controller="indexCtrl">
    <select ng-model="MemberTypeSelected" ng-options="opt.Name for opt in ListMemberType"></select>
    <select ng-model="YearSelected" ng-options="opt for opt in ListYear"></select>

    <select ng-model="MemberSelected" ng-show="MemberTypeSelected.id === MemberTypeEnum.Area" ng-options="opt.AreaName for opt in ListArea"></select>
    <select ng-model="MemberSelected" ng-show="MemberTypeSelected.id === MemberTypeEnum.Branch" ng-options="opt.BranchName for opt in ListBranch"></select>
    <select ng-model="MemberSelected" ng-show="MemberTypeSelected.id === MemberTypeEnum.Province" ng-options="opt.ProvinceName for opt in ListProvince"></select>
    <select ng-model="MemberSelected" ng-show="MemberTypeSelected.id === MemberTypeEnum.District" ng-options="opt.DistrictName for opt in ListDistrict"></select>

    <br />

    <label>
        <input type="radio" ng-model="CatSelected" ng-value="Category.Sex" ng-checked="CatSelected">
        Giới tính
    </label>

    <label>
        <input type="radio" ng-model="CatSelected" ng-value="Category.Age" ng-checked="CatSelected">
        Tuổi
    </label>

    <label>
        <input type="radio" ng-model="CatSelected" ng-value="Category.Job" ng-checked="CatSelected">
        Nghề nghiệp
    </label>

    <br />

    <button ng-click="View()">Cập nhật biểu đồ</button>

</div>
<script src="~/Javascript/main.js"></script>
