<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myCtrl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Population Infomation</title>
    <script src="~/Scripts/init/init.version.js"></script>
    <script src="~/Scripts/main.js"></script>
</head>
<body>
    
        @RenderBody()
       
</body>
</html>
